<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h1>Edit User Profile</h1>
    </div>
    <div class="card-body">
      <%= render 'form', user: @user %>
    </div>
  </div>
</div>